.navegacion{
    size: 2px;
    width: 97%;
    margin: 0 auto;

}

.menu_colapsable{
    padding-left: 10px;
}

.logo-link{
    max-width: 170px;
    padding-left: 10px;
}

.barra{
    padding-right: 10px;
}